<?xml version="1.0"?>
<launch>
    <arg name="nspace" default=""/>
    <arg name="ground" default="false"/>

    <group ns="$(arg nspace)">
        <!-- Select params for ground/iss tests -->
        <rosparam file="$(find reswarm_dmpc)/config/honey/leader_iface_gnd.yaml" command="load" ns="" if="$(eval ground == true)"/>
        <rosparam file="$(find reswarm_dmpc)/config/honey/leader_iface_iss.yaml" command="load" ns="" if="$(eval ground == false)"/>
        
        <node pkg="reswarm_dmpc" type="ros_node_leader.py" name="primary_dmpc_iface" output="screen">
            <!-- Topics -->
            <remap from="~state_topic" to="gnc/ekf"/>
            <remap from="~follower_pose" to="bumble/gnc/ekf"/>
            <remap from="~control_topic" to="gnc/ctl/command"/>
            <remap from="~broadcast_information" to="gs/data"/>
            <remap from="~flight_mode" to="mob/flight_mode"/>
            <remap from="~solver_status" to="reswarm/acado_status"/>
            <remap from="~test_status" to="reswarm/dmpc_status"/>
            <!-- Services -->
            <remap from="~get_control_srv" to="get_control"/>
            <remap from="~set_weights_srv" to="set_weights"/>
            <remap from="~onboard_ctl_enable_srv" to="gnc/ctl/enable"/>
            <remap from="~pmc_timeout_srv" to="hw/pmc/set_timeout"/>
            <remap from="~dds_bridge_srv" to="comm/astrobee_astrobee_bridge/trigger"/>
            <remap from="~start_srv" to="start"/>
            <remap from="~kill_srv" to="kill"/>
        </node>
        <node pkg="reswarm_dmpc" type="leader_ctl_node" name="primary_dmpc_ctl_node" output="log" if="$(eval ground == false)">
            <remap from="get_control_srv" to="get_control"/>
            <remap from="set_weights_srv" to="set_weights"/>
            <remap from="kill_node_srv" to="kill"/>
        </node>
        <node pkg="reswarm_dmpc" type="leader_ctl_node_gnd" name="primary_dmpc_ctl_node" output="log" if="$(eval ground == true)">
            <remap from="get_control_srv" to="get_control"/>
            <remap from="set_weights_srv" to="set_weights"/>
            <remap from="kill_node_srv" to="kill"/>
        </node>    
    </group>
</launch>