<?xml version="1.0"?>
<launch>
    <arg name="world" default="iss"/>
    <arg name="rviz" default="true"/>
    <arg name="sviz" default="false"/>
    <include file="$(find astrobee)/launch/sim_reswarm.launch" >
        <arg name="dds" value="true"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="sviz" value="$(arg sviz)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="dmpc_test" value="true"/>
    </include>
</launch>
