<?xml version="1.0"?>
<launch>
    <include file="$(find reswarm_dmpc)/launch/unit_test_translation.launch" >
        <arg name="abee" value="honey"/>
        <arg name="partner" value="bumble"/>
    </include>
    <include file="$(find reswarm_dmpc)/launch/unit_test_translation.launch" >
        <arg name="abee" value="bumble"/>
        <arg name="partner" value="honey"/>
    </include>
</launch>